<header>
    <div class="spaceHeader"> 
        <img src="img/logo.png" alt="logo">
        <div>Bem vindo: Gedeon!</div> 
      <a href="/login"><div class="butSair">Sair</div></a> 
    
    </div>

</header>