.formData{
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: #ff0043;
}

.butData{
    background-color: #ff0043;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    color: white;
    margin: 14px;
    position: relative;
    display: flex;
    align-content: stretch;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    cursor: pointer;
}

a {
 text-decoration: none;
 color: white;
}

.butData:hover {
    background-color: #2c2c2c;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    color: white;
    margin: 14px;
    position: relative;
    display: flex;
    align-content: stretch;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    cursor: pointer;
}

.formData input{
    border: 1px solid #ff0043;
    border-radius: 10px;
}