<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/styleform.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/alunos.css">
    <link rel="shortcut icon" type="imagex/png" href="img/icon.png">
    <title>System Gerenciamento</title>
</head>
<body>

    <%- include("./partials/header") %>

   <section class="container">
    <h1>Alunos Cadastrados</h1>
    <table>
        <tr class="principalLine">
            <td>ID</td><td>NOME</td><td>EMAIL</td><td>TELEFONE</td><td>SEXO</td><td>DATA DE NASCIMENTO</td><td>CIDADE</td><td>ESTADO</td><td>ENDERECO</td>
        </tr>
        <tr class="line1">
            <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td>
        </tr>
        <tr class="line2">
            <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td>
        </tr>
        <tr class="line1">
            <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td>
        </tr>
        <tr class="line2">
            <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td>
        </tr>
        <tr class="line1">
            <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td>
        </tr>
        <tr class="line2">
            <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td>
        </tr>
        <tr class="line1">
            <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td>
        </tr>
        <tr class="line2">
            <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td>
        </tr>
        <tr class="line1">
            <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td>
        </tr>
        <tr class="line2">
            <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td> <td>---</td>
        </tr>

    </table>


    <div class="butFunc">
        <a href="/formulario">
            <div class="butForm">
                Voltar
            </div>
        </a>
        <!-- <a href="#">
            <div class="butForm">
                Alunos Cadastrados
            </div>
        </a> -->

       </div>
    

    </section>

  
               
             
              
                
    
       
    
</body>

<%- include("./partials/footer") %>

<script src="https://kit.fontawesome.com/4e81d7e2d6.js" crossorigin="anonymous"></script>
</html>